body {
    background-color: lightblue;
    font-family: "American Typewriter", serif;
    color: darkblue;
}

img {
    transform: rotate(10deg);
}

hr {
    border: 1px solid #fff;
}

header h1 {
    border-radius: 25px;
    background-color: #fff;
    color: blue;
    text-shadow: 2px 2px 3px deeppink;
    text-align: center;
    letter-spacing: 4px;
}

section:nth-child(5) h2 {
    text-align: center;
}

section:nth-of-type(2) {
    background-color: #ffffff;
}

section:first-child ul{
    text-decoration: underline;
}

#wrapper h2 {
    font-weight: normal;
    color: forestgreen;
}

/*#wrapper :first-child ul  {*/
    /*text-decoration: underline;*/
/*}*/





/*#wrapper {*/
    /*background-color: red;*/
/*}*/